# cameradcc
type cameradcc, domain;
type cameradcc_exec, exec_type, file_type;
type cameradcc_file, file_type;

allow cameradcc shell_exec:file read;
allow cameradcc self:capability dac_override;
allow cameradcc camera_data_file:lnk_file read;
allow cameradcc efs_file:dir search;
allow cameradcc efs_file:file getattr;

init_daemon_domain(cameradcc)

# permissive_or_unconfirmed(cameradcc)
